<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/smoothie.png" alt="">
  </div>
  <div class="headings">
    <h2>Frontend test</h2>
    <h3>By Net Ninja (Yes this is from a tutorial video)</h3>
    <a href="/second" class="btn">View second page</a>
  </div>
</header>


<%- include('partials/footer'); -%>